#login_box{
    width: 500px;
    height: 400px;
    background-color: #a489cb;
}


#u_pwd{
    margin-top:20px;
    width: 210px;
    height: 55px;
    font-size: 17px;
    color:#3f1351;
}

#u_id{
    margin-top: 50px;
    width: 210px;
    height: 55px;
    font-size: 17px;
    color:#3f1351;
}

#id_pwd_box{
    float:left;
    margin: 50px;
}

#login_bt{
    float:right;

    width:140px;
    height:120px;

    margin-right: 40px;
    margin-top:110px;

    background-color: #3f1351;
    color:white;
    font-size: 20px;
}

p{
    margin-top:0px;
    margin-right:150px;
    padding-left: 30px;
    color:white;
    float: left;
}